@model IEnumerable<HospitalManagement.Models.PatientRecord>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <a href="/PatientRecord/Create" class="btn btn-outline-primary mb-3"><i class="far fa-plus-square"></i> Add Admin</a>
    <hr />
    <h4 class="mb-3 text-secondary">Patient Records</h4>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BloodPressure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complaint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmissionCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentsDoctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToBeAdmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WardAndBed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDischarged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceMed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedsGiven)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceTest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FirstName) @Html.DisplayFor(modelItem => item.Patient.LastName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BloodPressure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temperature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complaint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdmissionCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentsDoctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToBeAdmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WardAndBed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDischarged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceMed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedsGiven)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestResult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceTest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientRecordId }, new { @class = "btn btn-success btn-sm" })
            @Html.ActionLink("Details", "Details", new { id=item.PatientRecordId }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientRecordId }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
