@model HospitalManagement.Models.Patient

@{
    if (Session["AdminId"] != null)
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    if (Session["DoctorId"] != null)
    {
        Layout = "~/Views/Shared/_DoctorLayout.cshtml";
    }
}

<h2>Details</h2>

<div>
    <hr />

    <table class="table-hover my-4">
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstName)</td>
            <td> @Html.DisplayFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LastName)</td>
            <td> @Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Phone)</td>
            <td> @Html.DisplayFor(model => model.Phone)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td> @Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Address)</td>
            <td> @Html.DisplayFor(model => model.Address)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PatientGender)</td>
            <td> @Html.DisplayFor(model => model.PatientGender)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DOB)</td>
            <td> @Html.DisplayFor(model => model.DOB)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Occupation)</td>
            <td> @Html.DisplayFor(model => model.Occupation)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Marital_Status)</td>
            <td> @Html.DisplayFor(model => model.Marital_Status)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Photograph)</td>
            <td><img src="~/Content/images/@Model.Photograph" width="150" height="200" alt="Photo" style="border: 1px dashed gray; border-radius: 6px; padding: 6px;" /></td>
        </tr>
        <tr>
            <td><h4>Emergency Contact</h4></td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ECName)</td>
            <td> @Html.DisplayFor(model => model.ECName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ECRelationship)</td>
            <td> @Html.DisplayFor(model => model.ECRelationship)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ECPhone)</td>
            <td> @Html.DisplayFor(model => model.ECPhone)</td>
        </tr>
        <tr>
            <td><h4>Medical History</h4></td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Medication)</td>
            <td> @Html.DisplayFor(model => model.Medication)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Arthritis)</td>
            <td> @Html.DisplayFor(model => model.Arthritis)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Asthma)</td>
            <td> @Html.DisplayFor(model => model.Asthma)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Cancer)</td>
            <td> @Html.DisplayFor(model => model.Cancer)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Depression)</td>
            <td> @Html.DisplayFor(model => model.Depression)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Diabetes)</td>
            <td> @Html.DisplayFor(model => model.Diabetes)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Epilepsy)</td>
            <td> @Html.DisplayFor(model => model.Epilepsy)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Heart_Disease)</td>
            <td> @Html.DisplayFor(model => model.Heart_Disease)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HBP)</td>
            <td> @Html.DisplayFor(model => model.HBP)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.High_Cholesterol)</td>
            <td> @Html.DisplayFor(model => model.High_Cholesterol)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Renal_Disease)</td>
            <td> @Html.DisplayFor(model => model.Renal_Disease)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Stroke)</td>
            <td> @Html.DisplayFor(model => model.Stroke)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Thyroid) </td>
            <td> @Html.DisplayFor(model => model.Thyroid)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Alcohol)</td>
            <td> @Html.DisplayFor(model => model.Alcohol)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Smoke)</td>
            <td> @Html.DisplayFor(model => model.Smoke)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Caffeine)</td>
            <td> @Html.DisplayFor(model => model.Caffeine)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Recreational_Drugs)</td>
            <td> @Html.DisplayFor(model => model.Recreational_Drugs)</td>
        </tr>
    </table>
</div>

<div class="my-3">
    <a href="/Patient/Index" class="btn btn-outline-secondary mb-3"><i class="fas fa-chevron-left"></i> To list</a>
</div>
