@model HospitalManagement.Models.Patient

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ECName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ECName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ECRelationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ECRelationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ECPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ECPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allergies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allergies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arthritis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arthritis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asthma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asthma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cancer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cancer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depression)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depression)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diabetes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diabetes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emphysema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emphysema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Epilepsy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Epilepsy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Heart_Disease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heart_Disease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HBP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HBP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.High_Cholesterol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.High_Cholesterol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hypothyroidism)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hypothyroidism)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renal_Disease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renal_Disease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stroke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stroke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thyroid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thyroid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alcohol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alcohol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Smoke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Smoke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caffeine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caffeine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recreational_Drugs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recreational_Drugs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
