
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hospital Management</title>
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/mystylesheet.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>



<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <nav class="nav text-white" id="navbar">
                    <header>
                        <h4 class="mt-1 px-3">Admin</h4>
                        <hr>
                        <div class="mr-5">
                            <div class="nav-profile mx-2 ">
                                <p class="px-1"><i class="fas fa-user"></i> @Session["AdminName"]</p>
                            </div>
                        </div>
                        <br>
                        <div class="nav nav-tabs d-block" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link main-nav-link" href="/Admin/Index">
                                <i class="fas fa-home"></i> Dashboard
                            </a>
                            <a class="nav-item nav-link main-nav-link" href="/Doctor/Index">
                                <i class="fas fa-user-md"></i> Doctor
                            </a>
                            <a class="nav-item nav-link main-nav-link" href="/Pharmacist/Index">
                                <i class="fas fa-capsules"></i> Pharmacist
                            </a>
                            <a class="nav-item nav-link main-nav-link" href="/Nurse/Index">
                                <i class="fas fa-user-nurse"></i> Nurse
                            </a>
                            <a class="nav-item nav-link main-nav-link" href="/LabTech/Index">
                                <i class="fas fa-vial"></i> Laboratorist
                            </a>
                            <a class="nav-item nav-link main-nav-link" href="/Accountant/Index">
                                <i class="fas fa-vial"></i> Accountant
                            </a>
                            <a class="nav-item nav-link main-nav-link" href="/Patient/Index">
                                <i class="fas fa-user-injured"></i> Patient
                            </a>
                            <a class="nav-item nav-link main-nav-link" href="/PatientRecord/Index">
                                <i class="fas fa-notes-medical"></i> Patient Records
                            </a>
                            <a class="nav-item nav-link main-nav-link" href="/Appointment/Index">
                                <i class="far fa-calendar-check"></i> Patient Appointments
                            </a>
                            @Html.ActionLink("Edit Profile", "Edit", "Admin", new { id = Session["AdminId"] }, new { @class = "nav-item nav-link main-nav-link" })
                        </div>
                    </header>
                </nav>
            </div>


            <div class="col-md-11">
                <main id="main-doc" class="mt-2">
                    <!--Navigation bar on top side of screen -->
                    <nav class="alt-nav ">

                        <div class="container text-center text-secondary mb-4">
                            <h3>Hospital Management System</h3>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 text-left text-secondary">@ViewBag.Name</div>
                            <div class="col-6 text-right">
                                <a href="/Admin/Logout" class="btn btn-secondary">Logout <i class="fas fa-sign-out-alt"></i></a>
                            </div>
                        </div>
                        <hr>
                    </nav>

                    <div class="content">
                        <div class="tab-content">

                            @RenderBody()

                        </div>
                    </div>
                </main>
            </div>

        </div>
        


        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
